<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>react的服务端渲染</title>
    <script>
        window._initData = JSON.parse('{{{_initData}}}');
        window.ssr_model = {{{ssr_model}}};
    </script>
</head>
<body>
    <div id="react_app">
        {{{_html}}}
    </div>
</body>
</html>